<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard | Insurance Waala</title>
    <link rel="icon" type="image/x-icon" href="/static/images/icon.png">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div id="root">
        <div class="content">
            <a href="/" class="back-icon"></a>
            <h1 class="heading">Fill details for estimate</h1>
            <h3 class="heading">
                Predict insurance charges using a simple ML model!
                <br>
                <small><a href="/about">More about our model...</a></small>
            </h3>
            <br>
            <div>
                <div>
                    <b>Age:</b>
                    <span id="age-display">30</span>
                    <input type="range" min="20" max="60" step="1" value="30" name="age" id="age">
                </div>
                <br />
                <div>
                    <b>Sex:</b>
                    <input type="radio" id="sex-female" name="sex" value="1">Female
                    <input type="radio" id="sex-male" name="sex" value="0">Male
                </div>
                <br />
                <div>
                    <b>Body Mass Index:</b>
                    <br />
                    Height(cm): <input type="number" id="height" name="height">
                    <br />
                    Weight(kg): <input type="number" id="weight" name="height">
                </div>
                <br />
                <div>
                    <b>Children Count:</b>
                    <span id="noc-display">0</span>
                    <input type="range" min="0" max="9" step="1" value="0" name="noc" id="noc">
                </div>
                <br />
                <div>
                    <b>Do You Smoke?</b>
                    <input type="radio" id="smoker-yes" name="smoker" value="1">
                    Yes
                    <input type="radio" id="smoker-no" name="smoker" value="0">
                    No
                </div>
                <br />
                <div>
                    <b>Region:</b>
                    <select id="region" name="region">
                        <option value=null>Select Region</option>
                        <option value=0>South-West</option>
                        <option value=1>South-East</option>
                        <option value=2>North-West</option>
                        <option value=3>North-East</option>
                    </select>
                </div>
            </div>
            <br>
            <span class="cta" id="submit">Submit</span>
            <br /><br />
        </div>
    </div>

    <script src="/static/js/dashboard.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>

</html>